.box{
    position: fixed;
    width: 35px;
    height: 100%;
    z-index: 20;
    background-color: #222121;
}
/*图层界面*/
.tool{
    width: 150px;
    height: 100%;
    background-color: #1a1919;
    position: fixed;
    left: -115px;
    z-index: 10;
    transition: all 0.4s;
    font-family:'Helvetica','Droidsansfallback','Heiti SC';
    overflow: hidden;
  }
  .luwang{
    position: relative;
    border-bottom: 1px solid #656565;
    left: 5%;
    width: 90%;
    top: 10px;
    z-index: 8;
    height: 55px;
  }
  .p{
    font-size: 24px;
    position: absolute;
    color: #fff;
    top: -9px;
    left: 13px;
    font-family:'Helvetica','Droidsansfallback','Heiti SC';
  }

.box1{
    width: 100%;
    height: 45px;
    position: relative;
    top: -10px;
    border-bottom: 1px solid #332f2f;
    background-color: #2e2e2e;
}
.p1{
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 13px;
    font-family:'Helvetica','Droidsansfallback','Heiti SC';
}
#fh{
  width: 40px;
  height: 40px;
  /* background-color: #d36666; */
  position: absolute;
  top: -2px;
  right: 0px
}
#fh::before{
  content: '';
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  position: absolute;
  top: 12px;
  left: 10px;
  transform: rotate(45deg);
}
#fh::after{
  content: '';
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 45%;
  left: 8px;  
}
#fh:hover{
  cursor: pointer;
}
/*开关*/
label{
  overflow: hidden;
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: rgba(188, 188, 188, 0.32);
  border-radius: 16px;
  top: 19px;
  left: 81px;
}
label input{
  visibility: hidden;
  cursor: pointer;
  appearance: none;
}
label input::after{
  visibility: visible;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s;
}
label input:checked::after{
  transform: translateX(20px);
}
label input::before{
  visibility: visible;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
label input:checked::before{
  background-color: rgba(33, 124, 255, 0.86);
}

.dibu{
  position: fixed;
  z-index: 9;
 right: 0;
 bottom: 0;
}
/* 放大 */
#zoomIn{
  position: absolute;
  bottom: 12px;
  right: 90px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.719);
  border: none;
  border-radius: 5px;
}
/* 缩小 */
#zoomOut{
  position: absolute;
  bottom: 12px;
  right: 125px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.719);
  border: none;
  border-radius: 5px;
}
button:hover{
  cursor: pointer;
}
/* 放大样貌 */
.zoom{
  position: absolute;
  top: 14px;
  left: 5px;
  width: 20px;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
}
.zoom::before{
  content: '';
  position: absolute;
  top: -9px;
  left: 9px;
  width: 2px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
}
/* 缩小样貌 */
.zoomout{
  position: absolute;
  top: 14px;
  left: 5px;
  width: 20px;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
}
/* 指南针 */
.custom{
  position: fixed;
  z-index: 9;
  bottom: 15px;
  right: 19px;
  width: 42px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.719);
  border-radius: 50%;
}
.svg{
  border: none;
  box-shadow: none;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom:hover{
  cursor: pointer;
}
/* 街景小人 */
#pegman{
  position: fixed;
  z-index: 9;
  bottom: 70px;
  right: 15px;
  width: 45px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.719);
  border-radius: 50%;
}
#svgxr{
  border: none;
  box-shadow: none;
  width: 30px;
  height: 33px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(0) invert(100%);
}
#pegman:hover{
  cursor: pointer;
}
/*2D/3D*/
#wed{
  position: fixed;
  z-index: 9;
  bottom: 130px;
  right: 15px;
  width: 45px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.719);
  border-radius: 50%;
  }
  .wd{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0) invert(100%);
  }
  /*定位*/
#m3gps{
  position: fixed;
  z-index: 9;
  bottom: 190px;
  right: 15px;
  width: 42px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.719);
  border-radius: 50%;
    }
    
.m3{
    box-shadow: none;
    border: none;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
/* 多球显示 */
.iframedq{
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: fixed;
  right: 0;
  border: none;
  transform: all 0.4s;
  left: -200vh;
}
/* 弹窗提示 */
.tiook{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 24;
    
    background-color:rgba(0,0,0,0.6);
}
.tishi{
  display: none;
  width: 300px;
  height: 190px;
  background-color: #ffffff;
  z-index: 25;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  /* box-shadow: 0  0 5px 2px rgba(151, 149, 149, 0.637); */
}
.ti1{
  font-size: 20px;
  font-family:'Helvetica','Droidsansfallback','Heiti SC';
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nei{
  font-size: 15px;
  font-family:'Helvetica','Droidsansfallback','Heiti SC';
  position: absolute;
  top: 35%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: rgba(99, 96, 96, 0.945);
}
#ok1{
  width: 298px;
  height: 49px;
  /* background-color: #07cc18; */
  position: absolute;
  bottom: 1px;
  left: 1px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top: 1px solid rgba(203, 203, 203, 0.267);
}
.ok1{
  font-size: 20px;
  font-family:'Helvetica','Droidsansfallback','Heiti SC';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0e88ec;
}
#ok1:hover{
  cursor: pointer;
}
#ok1:active{
  background-color: rgba(203,203,203,0.3);
}